extends layouts/base.pug
block content
  div(id="chat-container" class="uk-container uk-width-1-1 uk-padding-remove uk-margin-remove")
    include includes/header.pug
    div(class="chat_body uk-width-1-1")
      div(class="chat_names")
        div(class="title uk-text-bold") Users online
        ul(id="user-list" class="name-list")
        //- div(class="title uk-text-bold") Groups
        //- ul(id="group-list" class="group-list")
      div(class="chat_messages")
        div(class="chat_messages-wrapper")
          div(class="message-header")
            span(class="chat-with") Welcome
          div(id="message-pool" class="messages")
          div(class="controls")
            input(id="message-input" placeholder="Enter message")
            button(id="send-btn" class="uk-button uk-button-default") Enviar
block scripts
  script(src="/static/js/chat.js")