extends layouts/base.pug
block content
  div(class="uk-container uk-width-1-1 uk-padding-remove uk-margin-remove")
    include includes/header.pug
    div(class="uk-width-1-1 uk-margin-large-top uk-align-center uk-text-break uk-padding")
      h2 Tus Cookies son
      a(href="/logout") Logout
      br
      a(href="/chat") Ir al chat
      br
      span(id="cookies" class="")
block scripts
  script(src="/static/js/cookie.js")