html {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c5ddeb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body div.uk-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  align-items: stretch;
  height: 100%;
  padding: 15px;
}

.uk-container .userdata {
  padding: 10px;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 10px;
}

.uk-container .chat_header {
  display: flex;
  justify-content: space-around;
  max-height: 60px;
}

.uk-container .chat_body {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #f2f5f8;
}

.uk-container .chat_body .chat_messages {
  height: 100%;
  flex-grow: 1;
  color: #434651;
  overflow-y: scroll;
}

.uk-container .chat_body .chat_messages .message-header,
.title {
  padding: 15px;
  border-bottom: 1px solid #fff;
}

.title {
  text-align: center;
}

.uk-container .chat_body .chat_messages .message-header span {
  font-weight: bold;
}

.uk-container .chat_body .chat_messages:nth-child(even),
.chat_names {
  border-left: 1px solid #fff;
}

.uk-container .chat_body .chat_messages .chat_messages-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat_messages-wrapper .messages {
  flex-grow: 4;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat_messages-wrapper .messages .message-data {
  margin-bottom: 10px;
}

.message-data .date-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat_messages-wrapper .messages .message-body {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: auto;
  float: left;
  position: relative;
  background: #86bb71;
}

.chat_messages-wrapper .messages .to .message-body {
  background: #94c2ed;
  float: right;
}

.chat_messages-wrapper .messages .to .message-body:after {
  border-bottom-color: #94c2ed;
  left: 85%;
}

.chat_messages-wrapper .messages .message-body:after {
  bottom: 100%;
  left: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 7px;
  margin-left: -10px;
}

.align-right {
  text-align: right;
}

.chat_messages-wrapper .controls {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.chat_messages-wrapper .controls input {
  flex-grow: 4;
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid#f3f4f6;
  background: #fff;
  transition: border 0.3s ease;
}

.chat_messages-wrapper .controls button {
  height: 100%;
  border-radius: 0;
}

.chat_messages-wrapper .controls input::placeholder {
  color: var(#cbd1dc);
}

.chat_messages-wrapper .controls input:focus {
  outline: none;
}

.uk-container .chat_body .chat_names {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.uk-container .chat_body .chat_names ul {
  margin: 0;
  padding: 0;
  width: 100%;
  flex-grow: 2;
  list-style: none;
  border-left: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  overflow-y: scroll;
}

.uk-container .chat_body .chat_names ul li {
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-top: 1px solid #fff;
}

.uk-container .chat_body .chat_names ul li:hover {
  cursor: pointer;
  background-color: #fff;
}

h1 {
  font-size: 36px;
}

.hidden {
  visibility: hidden;
}
